{% extends "blog/base.html" %}

{% block title %}Поделиться{% endblock %}

{% block content %}
    {% if sent %}
        <h1>Пост успешно отправлен</h1>
        <p>
            "Пост {{ post.title }}" успешно отправлен по адресу {{ form.cleaned_data.to }}.
        </p>
    {% else %}
        <h1>Отправить "{{ post.title }}" по e-mail</h1>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Отправить e-mail">
        </form>
    {% endif %}
{% endblock %}